<form novalidate class="form-horizontal" [formGroup]="indicatorForm" (ngSubmit)="saveIndicator(indicatorForm)">
    <fieldset>
        <legend><strong>General Data</strong></legend>
    
        <div class="row form-group">
            <label for="Name" class="col-md-2">Name</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="Name" formControlName="name"/>
                <div *ngIf="hasErrors(indicatorForm.controls.name)">
                    <span class="error" *ngIf="isTouched(indicatorForm.controls.name)">Name is required</span>
                </div>
            </div>    
        </div>

        <div class="row form-group">
            <label for="Description" class="col-md-2">Description</label>
            <div class="col-md-10"> 
                <textarea class="form-control" id="Description" formControlName="description"></textarea>
                <div *ngIf="hasErrors(indicatorForm.controls.description)">
                    <span class="error" *ngIf="isTouched(indicatorForm.controls.description)">Description is required</span>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label for="Code" class="col-md-2">Code</label>
            <div class="col-md-4"> 
                <input class="form-control" type="text" id="Code" formControlName="code"/>
                <div *ngIf="hasErrors(indicatorForm.controls.code)">
                <span class="error" *ngIf="isTouched(indicatorForm.controls.code)">Code is required</span>
                </div>
            </div>

            <label for="Unit" class="col-md-2">Unit</label>
            <div class="col-md-4"> 
                <input class="form-control" type="text" id="Unit" formControlName="unit"/>
                <div *ngIf="hasErrors(indicatorForm.controls.unit)">
                    <span class="error" *ngIf="isTouched(indicatorForm.controls.unit)">Unit is required</span>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label for="PeriodicityTypeId" class="col-md-2">Periodicity</label>
            <div class="col-md-4"> 
                    <select class="formControl" id="PeriodicityTypeId" formControlName="periodicityTypeId">
                        <option value="">Select a periodicity</option>
                        <option *ngFor="let pType of indicatorReferenceData.periodicityTypes" value="{{pType.id}}" [selected]="pType.id == indicator.periodicityTypeId">{{pType.name}}</option>
                    </select>
                    <div *ngIf="hasErrors(indicatorForm.controls.periodicityTypeId)">
                        <span class="error" *ngIf="isTouched(indicatorForm.controls.periodicityTypeId)">Periodicity is required</span>
                    </div>
            </div>

            <label for="ComparisonTypeId" class="col-md-2">Comparison Type</label>
            <div class="col-md-4"> 
                <select class="formControl" id="ComparisonTypeId" formControlName="comparisonTypeId">
                    <option value="">Select a comparison type</option>
                    <option *ngFor="let cType of indicatorReferenceData.comparisonTypes" value="{{cType.id}}" [selected]="cType.id == indicator.comparisonTypeId">{{cType.name}}</option>
                </select>
                <div *ngIf="hasErrors(indicatorForm.controls.comparisonTypeId)">
                    <span class="error" *ngIf="isTouched(indicatorForm.controls.comparisonTypeId)">Comparison Type is required</span>
                </div>
            </div>
        </div>

        <div class="row form-group">
            <label for="IndicatorValueTypeId" class="col-md-2">Value Type</label>
            <div class="col-md-4"> 
                <select class="formControl" id="IndicatorValueTypeId" formControlName="indicatorValueTypeId">
                    <option value="">Select a comparison type</option>
                    <option *ngFor="let iType of indicatorReferenceData.indicatorValueTypes" value="{{iType.id}}" [selected]="iType.id == indicator.indicatorValueTypeId">{{iType.name}}</option>
                </select>
                <div *ngIf="hasErrors(indicatorForm.controls.indicatorValueTypeId)">
                <span class="error" *ngIf="isTouched(indicatorForm.controls.indicatorValueTypeId)">Value Type is required</span>
                </div>
            </div>
        </div>
    </fieldset>
    <hr/>

    <div class="row form-actions">
        <div class="text-right col-md-12">
            <button type="submit" class="btn btn-info btn-rounded" [disabled]="">Save</button>
            <button type="button" class="btn btn-default btn-rounded">Cancel</button>
        </div> 
    </div>
</form>